* {
    font-family: 'Roboto', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: white;

}
.element {
    background-color: lightpink;
    width: 400px;
    height: 200px;
    margin: 30px;
    padding: 15px;
    border: 1px black solid;

}
header {
    height: 100px;
    padding: 40px;
    
}
section {
    padding: 40px;
}

footer {
    padding: 40px ;

}
.footer-menu {
    margin-top: 40px;
    font-size: 17px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.footer-menu > a {
    margin-bottom: 10px;
}
.first-block {
    height: 350px;
}
.fixed-container {
    max-width: 1300px;
    height: 100%;
    margin-left: 90px;
    margin-right: 100px;
}
footer{
    height: 180px;
}
.fixed-footer {
    align-items:flex-start;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    height: 100%;
    margin-left: 90px;
    margin-right: 100px;


}
.light-button {
    border: 1px solid black;
    background-color: transparent;
    font-size: 15px;
    margin: 50px 70px 100px;
}
.dark-button {
    background-color: #1b41ff;
    border: 1px solid #1b41ff;
    color: white;
    font-size: 17px;
}
button {
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
}
section {
    padding: 20px 40px;

}
header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}   
.first-block > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/VJ-4EMNHNmU.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}
.services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.services > div {
    width:200px;
    justify-content: space-between;
}
.services img {
    width: 200px;
}
.examples {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.examples > div, img {
    width: 320px;
    justify-content: space-between;
}
.examples > img {
    width: 320px;
    justify-content: space-between;

}
.price-info {
    background-color: #1b41ff; 
    justify-content: center;
    color: white;
}
.popup-container {
    background-color: rgba(110, 110, 110, 0.437);
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.popup {
    background-color: white;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.paragraph1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;

}
.paragraph2 {
    font-size: 35px;
    font-weight: bold;
    display: block;
}
.paragraph3 {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.prices-paragraph {
    display: flex;
    max-width: 50%;
    margin-bottom: 60px;
}
.social-media {
    flex-direction: column;
    display: flex;
    justify-content :center;
    align-items: center;
    
}
.social-media > img {
    width: 150px;
}
.fixed-contacts {
    font-size: 18px;
    margin: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.fixed-contacts > p {
    margin: 5px 10px 5px;
}
.send-form-button {
    border: 1px solid black;
    background-color: transparent;
    font-size: 15px;
    margin: 20px 35px 10px;
    text-align: center;
    box-sizing: border-box;
    padding-block: 1px;
    padding-inline: 6px;
    border-radius: 5px;
}
.input-form {
    border-radius: 5px;
    border-width: thin;
    margin: 20px 35px 10px;
}